doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Группа компаний форум
    meta(name="description" content="")
    link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
    link(rel="stylesheet" href="css/main.css")
    <!-- [if lte IE 10]<p class="browsehappy"> Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его </a></p><![endif]-->
  body  
    section.projectpage-section
      include components/navbar
      block vars

      .container-fluid
        .row.projectpage-heading
          figure(class= 'projectpage-heading__item')  
            picture
              img(src=`${src}` class ='projectpage-heading__img')
              figcaption(class='projectpage-heading__caption d-flex justify-content-around')
                div(class= 'projectpage-heading__title text-yell')= title
                div(class= 'projectpage-heading__desc')!=  desc
                div(class= 'projectpage-heading__contact')!= contacts

      .grid-wrrapper
        .grid
          .grid__sizer
          each photo in photos
            .grid__item
              a(href="javascript: void(0)" class='grid__link')
                img(src="img/loader.svg" data-src=photo alt='форум').grid__image
              
      .projectmap-title на карте
      include components/map
      include components/slides
    include components/footer
    a(href="javascript: void(0)" class="arrow-up")
      img(src='img/upArr.svg' alt='Наверх')
      p наверх

  script(src="js/common.js")
  script(src="js/imagesloaded.pkgd.min.js")
  script(src="js/masonry.pkgd.min.js")
  script(src="js/scrollupArrow.js")
  script(src="js/projects.js")