section#projects
  .container-fluid.projects-gallery
    .row
      mixin projectItem(cls, href, source, alt, title, desc, contact)        
        figure(class= `${cls}__item`)&attributes(attributes).col-12.col-sm-6.col-lg-4
          picture
            img(src=source class= `${cls}__img` alt=alt)
          a(href=href class= `${cls}__link` target='blank')
            figcaption( class=`${cls}__caption`)            
              div(class= `${cls}__title`)=title
              div(class= `${cls}__desc`)=desc
              div(class= `${cls}__contact`)!=contact

      +projectItem('projects-gallery', 'http://xn--80adx0a4a.xn--p1ai/', '../img/proj-kvartz.jpg', 'бц кварц', 'БИЗНЕС-ЦЕНТР «КВАРЦ»', 'Расположенный в Красногвардейском районе Санкт-Петербурга, предлагает в аренду офисные помещения, склады. Удобная транспортная доступность,     парковка, контроль доступа, видеонаблюдение, современный высококачественный ремонт, конференц-зал, кафе.', 'Сайт: <span class="text-yell">кварц.рф</span><br> Телефоны: +7 (812) 591-88-88, +7 (812) 927-92-26')
      +projectItem('projects-gallery', 'http://xn----8sbb6baq1a3a.xn--p1ai/', '../img/proj-atoll.jpg', 'бц атолл', 'БИЗНЕС-ЦЕНТР «АТОЛЛ»', 'Расположен в густонаселенном Калининском районе Санкт-Петербурга рядом со станцией метро «Гражданский проспект». Развитая инфраструктура, транспортная доступность, парковка, выгодные условия аренды.', 'Сайт: <span class="text-yell">бц-атолл.рф</span><br>Телефоны: +7 (812) 591-88-88, +7 (812) 927-92-26')
      +projectItem('projects-gallery', 'http://xn--90awfipdn.xn--p1ai/', '../img/proj-forum.jpg', 'бц форум', 'Бизнес-центр «ФОРУМ»', 'Предлагает в аренду офисные и складские помещения, расположенные в Кировском районе Санкт-Петербурга рядом со станцией метро «Балтийская». Удобная транспортная доступность, парковка, контроль доступа, видеонаблюдение, современный ремонт, выгодные условия аренды.', 'Сайт: <span class="text-yell">бцфорум.рф</span><br> Телефоны: +7 (812) 591-88-88, +7 (812) 927-92-26')
      +projectItem('projects-gallery', 'http://xn--d1aboife.xn--p1ai/', '../img/proj-komned.jpg', 'комнед', 'Комнед', 'Коммерческая недвижимость от собственника. Имущественные комплексы, встроенные помещения, земельные участки в Санкт-Петербурге и Ленинградской области. Продажа и аренда.', 'Сайт: <span class="text-yell">комнед.рф</span><br> Телефон: +7 (812) 591-87-00')
      +projectItem('projects-gallery', 'http://xn--80aalycnchri.xn--p1ai/', '../img/proj-landskrona.jpg', 'ландскрона', 'Ландскрона', 'Панорамный ресторан на берегу Финского залива. Просторный зал, собственный пляж, причал, охраняемая парковка и территория. Круглый год: корпоративы, свадьбы, юбилеи, выпускные вечера.', 'Сайт: <span class="text-yell">ландскрона.рф</span><br> Телефоны: +7 (812) 591-87-00, +7 (812) 927-92-22')
      +projectItem('projects-gallery', 'http://xn--47-glcqe5aecpy.xn--p1ai/', '../img/proj-horizont.jpg', 'горизонт', 'ООО «Горизонт»', 'Аренда земельных участков сельскохозяйственного назначения, зданий и помещений от собственника в Кировском районе Ленинградской области. Развитая инфраструктура, отличные дороги, все коммуникации.', 'Сайт: <span class="text-yell">горизонт47.рф</span><br> Телефон: +7 (812) 591-88-16')

  .container-fluid.partners
    h2.partners__title наши партнеры
    .row
      mixin partenerItem(clas, href, source, alt)
        picture.col-12.col-sm-6.col-lg-4.partners__item
          a(href=href class= `${clas}__link` target='blank')
            img(src=source class= `${clas}__img` alt=alt)     
      +partenerItem('partners', 'http://ptd.spb.ru', '../img/partners-ptd.jpg', 'птд')
      +partenerItem('partners', 'http://svirhleb.ru', '../img/partners-svir.jpg', 'свирь хлеб')
      +partenerItem('partners', 'http://veresk-vafli.ru', '../img/partners-veresk.jpg', 'вереск').offset-sm-3.offset-lg-0
      